body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F7F8;
}

header {
    height: 75px;
    background-color: rgb(18, 37, 61, .85);
    margin-bottom: 100px;
    z-index: 105;
    display: flex;
    align-items: center;
    color: white;
}

header > h1 {
    margin-left: 60px;
    font-size: 26px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    border-radius: 100%;
}

.logo {
    margin-left: 50px;
}

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
    text-decoration: none;
  }

.header-links {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    gap: 30px;
}

.login {
    border: 2px solid white;
    background-color: rgb(18, 37, 61, .85);
    border-radius: 35px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.signup {
    background-color: #fbb718;;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1.2px 1.2px 2px #131313;
    padding: 13px 20px;
}

form {
    border-radius: 3px;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -95px;
    position: relative;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #D6D9DC;
    padding: 60px 100px;
    gap: 2px;
}

.form-container h1 {
    text-align: center;
}

label {
    font-size: 18px;
}

select {
    width: 250px;
    height: 25px;
    font-size: 18px;
}

input {
    width: 250px;
    height: 25px;
    font-size: 18px;
    border: 2px solid #000;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

.button-container {
    display: flex;
    justify-content: center;
}

form button {
        background-color: #fbb718;;
        border: none;
        border-radius: 35px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1.2px 1.2px 2px #131313;
        padding: 10px 15px;
        width: 200px;
        margin-top: 10px;
    }

    .already {
        position: absolute;
        top: 150px;
        left: 1250px;
        width: 400px;
    }

    .footer-container {
        background-color: rgb(18, 37, 61, .85); 
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: center;
        position: absolute;
        width: 100vw;
        bottom: 0;
        height: 80px;
        gap: 15px;
    }
    
    .footer-div2 a {
        color: white;
        /* margin-left: 60px; */
        text-align: center;
        margin-left: 40px;
    }

